#peru rect:first-child{
  fill: white;
  stroke: grey;
}

#peru rect~rect{
  fill: rgb(217, 16, 35);
}

#belgium rect:first-child{
  fill: black;
}

#belgium rect:nth-child(2){
  fill: rgb(253, 218, 36);
}

#belgium rect:last-child{
  fill: rgb(239, 51, 64);
}

#austria > rect:first-child{
  fill: white;
  stroke: grey;
}

#austria rect~rect{
  fill: rgb(237, 41, 57);
}

#switzerland rect:first-child{
  fill: rgb(213, 43, 30);
}

#switzerland rect~rect{
  fill: white;
}

#sweden > rect{
  fill: rgb(0, 75, 135);
}

#sweden rect~rect{
  fill: rgb(255, 205, 0);
}

#qatar rect:first-child{
  fill: white;
  stroke: grey;
}

#qatar rect~rect{
  fill: rgb(163, 34, 76);
}

#qatar polygon{
  fill: white;
}
